{% extends 'navbar.html' %}

{% block content %}
    <section class="header">
        <h1>Vishnu Priya</h1>
        <p>Looking for an opportunity as a Full Stack Developer</p>
        <!--I would suggest choosing a different picture here.-->
        <!--Like maybe a hobby photo-->
        <img src="https://i.pinimg.com/564x/43/db/46/43db4682a57bbddf864719d9403919eb.jpg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>About Me</h2>
        <p>
            Hello, I am Vishnu Priya, a seasoned full-stack developer with a passion for crafting web applications using Python and React. Over the course of my dynamic career, which spans 6 years, I've had the privilege of working on a wide range of projects,
            from developing robust backend systems to designing intuitive and interactive user interfaces.
        </p>
        <p>
            Beyond coding, I have a life enriched by various interests and activities.
            When I'm not immersed in the world of technology, you'll often find me on the badminton court,
            where I channel my competitive spirit and stay physically active.
            I believe that sports not only keep the body fit but also nurture discipline
            and teamwork—skills that are transferrable to the world of development.
        </p>
        <a href="#"><i class="far fa-file"></i>Resume</a>
    </section>
{% endblock %}